<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title> Contacts List</title>
	</head>
	<body>

		 <header class="contacthead"> <h1> Jason's rad friends and family </h1></header>

	<div class ="contactcounter">
	 <p>There are <%=@collection.count%> contacts </p>
		</div>

	<div class = "bigbox">
		 <ul class = contactdisplay>
		 <% @collection.each do |contact| %>
		<li> <h4> Name: <%=contact.first_name %> <%=contact.last_name %> </h4> <b> Email:</b> <%=contact.email %> <b>  Note: </b> <%=contact.note %>  </li>
		<br><li> <a href ="#"> edit </a>|<a href="#"> delete </a> </li>
			<%end%>


	</div>


			<p>

		</ul>
	</div>


	</body>
</html>
